.error{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;

    img{
        width: 500px;

        @media screen and (max-width: 540px) {
            width: 300px;
        }
    }
}